body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.slides-pagination a.current {
    background: white;
}

.slides-pagination a {
    border: 2px solid #f8f9fa;
}

.slides-navigation .prev, .slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation {
    z-index: 6;
}

.titleMessage{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 5px;
}

.titleMessage .heading .main {
    font-size: 40px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

.section {
    padding: 100px 0;
}

.aboutImage {
    max-width: 70%;
}

.skillsSection,
.portfolioSection {
    background-color: black;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.skill h4 {
    margin-top: 20px;
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid black;
    border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid black
}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px;
}

.squareContent h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 400;
    color: black;
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 56px;
    margin-left: -20%;
    color: black;
}

.contactText {
    color: black;
}

.contactText a {
    color: black;
    
}

.contactButton {
    color: black;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 26px;
}

.contactButton:hover {
    text-decoration: none;
    color: #fff;
    background-color: black;
}

.otherContactButton{
    font-size: 56px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.otherContactButton a {
    color: black;
}

.filter a {
    color: #fff;
    padding: 10px 18px;
    border: 1px solid #fff;
    display:block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #fff;
    border-color: #fff;
    color:black;
}

.filter {
    text-align:center;
    width: 100%;
}

.section .heading {
    text-align:center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: black;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.4s;
    -moz-transition: all 0.2s linear, 0.4s;
    -o-transition: all 0.2s linear, 0.4s;
    -ms-transition: all 0.2s linear, 0.4s;
    -transition: all 0.2s linear, 0.4s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.10, 1.10);
    -moz-transform: scale(1.10, 1.10);
    -o-transform: scale(1.10, 1.10);
    -ms-transform: scale(1.10, 1.10);
    -transform: scale(1.10, 1.10);
}

.items {
    padding: 0;
}

.copyrightSection {
    background-color: black;
    color: #fff;
    padding: 13px 5px;
}

#navigation {
    background-color: black;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

#navigation li a:hover {
    background: white;
    color:black ;
    border-radius: 20px;
    
    -webkit-transform: scale(1.10, 1.10);
    -moz-transform: scale(1.10, 1.10);
    -o-transform: scale(1.10, 1.10);
    -ms-transform: scale(1.10, 1.10);
    -transform: scale(1.10, 1.10);
}

.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.fa-bars {
    color: #fff;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.portfolioHeading {
    color: #fff;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}